{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Page Title</title>

    <!-- Link to your external CSS file for styling -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="nav">
      <ul>
        <li><a href="#About">AboutMe</a></li>
        <li><a href="#Price">Price</a></li>
        <li><a href="#Reviews">Reviews</a></li>
        <li><a href="#Blog">Blog</a></li>
        <li><a href="#FAQS">FAQS</a></li>
        <li><a href="#Contact">Contacts</a></li>
        <!-- Add more navbar items as needed -->
      </ul>
    </nav>

    <!-- Hero Section with Background Image -->

    <div class="element">
      <!-- Content of the element with the background image -->
      <div class="main-page">
      <p>/LIFE GUIDE</p>
      </div>
      <div class="main-pageh2">
      <p>KAMILLA</p>
    </div>
    </div>
    <div class="sign-up">
      <p class="sign-text">SIGN UP FOR CONSULTATION</p>
    </div>
    <section>
      <div class="about-head"><h1 class="abt-h1">About Me</h1></div>
      <div>
        <div class="elements">
          <div>
            <p class="abt-text1">
              Welcome to my website! I'm Kamilla, and I specialize in
              psychomatrix analysis, with over 2.5 years of experience helping
              clients gain profound insights into their personalities and life
              paths.  <br> <b><u>Read more </u></b>
            </p>
          </div>
          <div>
            <p class="abt-text2">
              Additionally, for the past 7+ years, I have been dedicated to
              providing support and guidance to individuals facing the
              challenges of cancer. My holistic approach and commitment to
              well-being have positively impacted the lives of over 200 clients.
              Explore how I can help you unlock your potential and navigate
              life's complexities.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="price-head"><h1 class="price-h1">Price</h1></div>
      <div class="element-1">
        <div class="summary-1">
          <div>
          <p class="summary-text">Single Consultation</p>
        </div>
        <div class="sum-arr">
          <img src="../static/media/images/Arrow 7.png" alt="">
        </div>
        </div>
        <div class="summary-2">
          <div>
          <p class="summary-text">Consultation for a couple</p>
        </div>
          <div class="sum-arr">
            <img src="../static/media/images/Arrow 7.png" alt="">
          </div>
        </div>
        <div class="summary-3">
          <div>
          <p class="summary-text">Consultation for a child</p>
        </div>
          <div class="sum-arr">
            <img src="../static/media/images/Arrow 7.png" alt="">
          </div>
        </div>
        <div class="summary-4">
          <div>
          <p class="summary-text">Family Consultation</p>
        </div>
          <div class="sum-arr">
            <img src="../static/media/images/Arrow 7.png" alt="">
          </div>
        </div>
        <div class="summary-5">
          <div>
          <p class="summary-text">Business Consultation</p>
        </div>
          <div class="sum-arr">
            <img src="../static/media/images/Arrow 7.png" alt="">
          </div>
        </div>
        <div class="summary-6">
          <div>
          <p class="summary-text">Express Consultation</p>
        </div>
          <div class="sum-arr">
            <img src="../static/media/images/Arrow 7.png" alt="">
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="review">
        <h1 class="review-head">REVIEWS</h1>
      </div>
      <div class="element-4">
        <div class="review-text">
          <div class="review-box">
          <p class="review-txt1">Pic</p>
          <p class="review-txt2">Name here</p>
        </div>
          <p class="review-txt3">
            "this part will include the review, user can swipe right to check
            more reviews"
          </p>
        </div>
        <div class="swipe">
          <p class="blog--p"> swipe for more</p>
          <img src="../static/media/images/Arrow 8.png" alt="">
        </div>
      </div>
    </section>
    <section>
      <div class="blogs">
        <h1 class="blog-head">BLOG</h1>
      </div>
      <div class="element-5">
        <div class="blogs-text">
          <p>
            Interested in learning more about what I do and how you can access
            free information? <u>Click here </u> to explore my blog for detailed
            insights, helpful tips, and a wealth of resources tailored to your
            interests.
          </p>
        </div>
       
      </div>
    </section>
    <section>
      <div class="question">
        <h1 class="ques-head">FAQ</h1>
      </div>
      <div class="ques-text">
        <div class="ques-div">
        <ul class="ques-txt">
          <li>What format will the work be in?</li>
          <li>What i'll get from Consultation?</li>
          <li>How long does the Consultation last?</li>
          <li>What is the difference between the psychomatrix method and the natal chart?</li>
          <li>Can i find out about compatibility with partner?</li>
          <li>If people are born on the same day?</li>
          <li>Can i Know the future</li>
          <li>What if I don't Know the time of birth</li>
          <li>I don't know format of Consultation to choose</li>
          <li>Child or adult Consultation</li>
        </ul>
      </div>
      </div>
    </section>
    <section>
      <div class="contact">
        <h1 class="contact-head">CONTACTS</h1>
      </div>
      <div class="contact-main">
        <div class="text-box">
          <p class="contact-text">
               If you still have other question contact mein any convenient way
          </p>
        </div>
        <div class="img-main">
          <div class="img-box">
            <div>
              <img src="../static/media/images/telegram.png" alt="">
            </div>
            <div>
              <img src="../static/media/images/Arrow 4.png" alt="">
            </div>
          </div>
          <div class="img-box">
            <div>
              <img src="../static/media/images/wapp.png" alt="">
            </div>
            <div>
              <img src="../static/media/images/Arrow 4.png" alt="">
            </div>
          </div>
          <div class="img-box">
            <div>
              <img src="../static/media/images/insta.png" alt="">
            </div>
            <div>
              <img src="../static/media/images/Arrow 4.png" alt="">
            </div>
          </div>
         
        </div>
    </section>
    <footer class="foot">2024 @ all rights reserved - Developed by Appopleis.net</footer>
    <!-- {% block content %}
  {% for post in posts %}
    <div>
      <h2><p>{{ post.title }}</p></h2>
      <p>{{ post.content }}</p>
      {% if post.image %}
        <img src="{{ post.image.url }}" height="500px" width="500px" alt="Post Image">
      {% endif %}
    </div>
  {% endfor %}

  {% for discussion in discussions %}
    <div>
      <h2>{{ discussion.title }}</h2>
      <p>{{ discussion.description }}</p>
      <p>{{ discussion.content }}</p>
    </div>
  {% endfor %}
{% endblock %} -->
  </body>
</html>
